// override vuetify variables here

@import '~vuetify/src/stylus/app.styl'
@import './_vars.styl'

// use vuetify variables here

// --------------------------------- //


// v-jumbotron image fix
.jumbotron
  height t-img-jumbo-lg-h !important
.jumbotron__image
  width 100% !important
  height auto !important

.fill-vh
  // compensates navbar height
  height 96vh
.fill-vw
  width 100vw
.fill-va
  @extend .fill-vh
  @extend .fill-vw

// Dialog overrides for all v-dialog
.dialog
  max-width 500px

a
  font-size 1.1rem
  font-weight bold

// .app-flow-text
//   font-weight 300 !important;
//
// @media only screen and (min-width: 360px)
//   .app-flow-text
//     font-size 1.2rem !important;
//
// @media only screen and (min-width: 390px)
//   .app-flow-text
//     font-size 1.224rem !important;
//
//
//
// @media only screen and (min-width: 420px)
//   .app-flow-text
//     font-size 1.248rem !important;
//
//
//
// @media only screen and (min-width: 450px)
//   .app-flow-text
//     font-size 1.272rem !important;
//
//
//
// @media only screen and (min-width: 480px)
//   .app-flow-text
//     font-size 1.296rem !important;
//
//
//
// @media only screen and (min-width: 510px)
//   .app-flow-text
//     font-size 1.32rem !important;
//
//
//
// @media only screen and (min-width: 540px)
//   .app-flow-text
//     font-size 1.344rem !important;
//
//
//
// @media only screen and (min-width: 570px)
//   .app-flow-text
//     font-size 1.368rem !important;
//
//
//
// @media only screen and (min-width: 600px)
//   .app-flow-text
//     font-size 1.392rem !important;
//
//
//
// @media only screen and (min-width: 630px)
//   .app-flow-text
//     font-size 1.416rem !important;
//
//
//
// @media only screen and (min-width: 660px)
//   .app-flow-text
//     font-size 1.44rem !important;
//
//
//
// @media only screen and (min-width: 690px)
//   .app-flow-text
//     font-size 1.464rem !important;
//
//
//
// @media only screen and (min-width: 720px)
//   .app-flow-text
//     font-size 1.488rem !important;
//
//
//
// @media only screen and (min-width: 750px)
//   .app-flow-text
//     font-size 1.512rem !important;
//
//
//
// @media only screen and (min-width: 780px)
//   .app-flow-text
//     font-size 1.536rem !important;
//
//
//
// @media only screen and (min-width: 810px)
//   .app-flow-text
//     font-size 1.56rem !important;
//
//
//
// @media only screen and (min-width: 840px)
//   .app-flow-text
//     font-size 1.584rem !important;
//
//
//
// @media only screen and (min-width: 870px)
//   .app-flow-text
//     font-size 1.608rem !important;
//
//
//
// @media only screen and (min-width: 900px)
//   .app-flow-text
//     font-size 1.632rem !important;
//
//
//
// @media only screen and (min-width: 930px)
//   .app-flow-text
//     font-size 1.656rem !important;
//
//
//
// @media only screen and (min-width: 960px)
//   .app-flow-text
//     font-size 1.68rem !important;
//
//
//
// @media only screen and (max-width: 360px)
//   .app-flow-text
//     font-size 1.2rem !important;
